{{#if hasMovies }}
<ul class="people_list">
 
    <h1 class="titulo">LIST OF MOVIES</h1>
      <div class="container-card">
        {{#each movies}}
        <div class="card">
          {{!-- <figure> --}}
            <img src="{{this.portada}}">
          {{!-- </figure> --}}
          <div class="contenido-card">
            <h3>{{this.nombre}}</h3>
            <p>${{this.precio}}</p>
            {{!-- <p>{{this.sinopsis}}</p> --}}
            {{!-- <p>{{this.stock}}</p> --}}
            <a href="#">Alquilar</a>
          </div>
        </div>
        {{/each}}
      </div>
</ul>
{{else}}
  <p class="p-list">Ninguna película registrada</p>
{{/if}}





<a href="/register-movie"> Register Movie</a>