<ul class="people_list">
    <h1 class="titulo">LIST OF RENTALS</h1>
        <div class="container-card">
          {{#each rentals}}
          <div class="card">
            {{!-- <figure> --}}
              <img src="{{this.portada}}">
            {{!-- </figure> --}}
            <div class="contenido-card">
              <h3>{{this.name}}</h3>
              <h3>{{this.nombre}}</h3>
              <p>{{this.email}}</p>
              {{!-- <p>{{this.idMovie}}</p> --}}
              <p>Fecha devolución: {{formatDate this.fechaDev}}</p>

              <a href="/return-movie/{{this.idRental}}">Return</a>
              {{!-- <p>{{this.sinopsis}}</p> --}}
              {{!-- <p>{{this.stock}}</p> --}}
              
                {{!-- <a href="#">Editar</a>
                <a href="/users" onclick="DeleteUser({{this.idUser}})">Eliminar</a> --}}
              
            </div>
          </div>
          {{/each}}
        </div>
  </ul>